<!-- Header -->
<div class="intro-header pages">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message pages">
                    <h1 class="curly">Paintings of the Moma</h1>
                    <h3>Update the details for the painting: <%= @painting.title %></h3>
                    <hr class="intro-divider">
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->


<%= render 'form' %>