


<!-- Header -->
<div class="intro-header">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1 class="curly">Welcome to the Moma</h1>
                    <h3>You can search for your favourite Artist or Painting</h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <%= link_to 'Artists', artists_path, class: 'btn btn-default btn-lg' %>
                        </li>
                        <li>
                            <%= link_to 'Paintings', paintings_path, class: 'btn btn-default btn-lg' %>
                        </li>
                        <li>
                            <%= link_to 'Add New Artist', new_artist_path, class: 'btn btn-default btn-lg new' %>
                        </li>
                        <li>
                            <%= link_to 'Add New Painting', new_painting_path, class: 'btn btn-default btn-lg new' %>
                        </li>                        
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->







