<form action="/new" class="form-inline" method="POST">

    <input type="text" placeholder="Enter Title" name="title">
    <input type="text" placeholder="Enter URL" name="url">
    <button type="submit" class="btn">Post</button>
    
</form>